@model Mastilo.Web.ViewModels.MasterpieceViewModels.MasterpieceResponseViewModel

<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>
        @Model.Title
    </li>
    <li class="list-group-item">
        <span class="badge">2</span>
        @Model.Content
    </li>
    <li class="list-group-item">
        <span class="badge">1</span>
        Създадено от: @Model.AuthorUserName (@Model.AuthorFirstName) @Html.DisplayFor(m => m.CreatedOn)
    </li>
    <li>
        Категории:
        @foreach (var category in Model.Categories)
        {
            @category.Name
        }
    </li>
    <li>
        Comments:
        @foreach (var comment in Model.Comments)
        {
            @comment.Text @: By @comment.AuthorName
        }
    </li>
</ul>
