@model Mastilo.Web.ViewModels.Manage.IndexViewModel

<div class="row">
    <img src="@Url.Action("Image", "Account", new { id = Model.CurrentUser.ImageId })" alt="ProfileImage" class="col-md-3 img-responsive" style="max-width: 140pt; max-height: 120pt; display: block;" />
    <div class="col-md-9">
        <div class="col-md-12">Име: @Model.CurrentUser.UserNameCustom</div>
        <div class="col-md-12">Възраст: @Model.CurrentUser.Age</div>
        <div class="col-md-12">Регистрация: @Html.DisplayFor(m => m.CurrentUser.RegistrationDate)</div>
        <div class="col-md-12"><a href="~/Masterpiece/GetApprovedMasterpiecesByUser?userId=@Model.CurrentUser.Id" style="color: black; text-decoration: none;">Произведения: @Model.CurrentUser.Masterpieces.Where(m => m.IsApproved == true).Count()</a></div>
        <div class="col-md-12"><a href="~/Masterpiece/GetPendingMasterpiecesByUser?userId=@Model.CurrentUser.Id" style="color: black; text-decoration: none;">За одобрение: @Model.CurrentUser.Masterpieces.Where(m => m.IsApproved == false && m.IsAssessed == true).Count()</a></div>
    </div>
</div>

<div>
    <h4>Промяна на настройки на профила:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("промени парола", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
