@model Mastilo.Web.Areas.Editor.ViewModels.MasterpiecesApproveModel

<div class="panel ">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Title - @Model.AuthorUserName</h3>
    </div>
    <div class="panel-body">
       @Html.Raw(@Model.Content)
    </div>
</div>

@using (Html.BeginForm("Approve", "Approve", new { @class = "form-horizontal" }))
{
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Одобри" style="max-width: 100pt;" class="form-control btn btn-success" />
}

<br />
<br />
<button id="buttonReject" style="max-width: 100pt;" class="btn btn-danger btn-sm form-control">Отхвърли</button>

@using (Html.BeginForm("Reject", "Approve", FormMethod.Post, new { id = "rejectForm", @class = "form-horizontal", style = "display:none" }))
{
    @Html.AntiForgeryToken()

    <h3 class="text-center">Добавяне на рецензия!</h3>
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />

        @Html.LabelFor(b => b.DisapprovedMessage, new { @class = "control-label" })
        @Html.EditorFor(b => b.DisapprovedMessage, new { @class = "form-control", placeholder = "Съдържание" })
        @Html.ValidationMessageFor(b => b.DisapprovedMessage)
    </div>

    <br />
    <input type="submit" value="Запази рецензия" class="form-control btn-primary" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("form input[type=submit]").click(function () {
            tinyMCE.triggerSave();
        });

        $("#buttonReject").click(function () {
            $("#rejectForm").show(1500);
        });
    </script>
}

