@model Mastilo.Web.ViewModels.CommentViewModels.CommentViewModel
<div style="background-color: rgba(245,245,245, 0.5)" class="well well-lg">
    <strong>@Model.AuthorName:</strong><br />
    <small>@Html.DisplayFor(c => c.CreatedOn)</small>
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <p>@Model.Text</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <button data-id="@Model.Id" data-action="up" class="glyphicon glyphicon-thumbs-up btn-lg"></button>
            </div>
            <div class="pull-right" data-id-count="@Model.Id" style="margin: 15px 30px; font-size: 22px;">
                <em>@Model.Likes.Count()</em>
            </div>
        </div>
    </div>
</div>