@model Mastilo.Web.ViewModels.MasterpieceViewModels.MasterpieceResponseViewModel

<div class="well">
    <img width="40" height="60" src="@Url.Action("Image", "Account", new { id = Model.AuthorImageId })" /> <span>@Model.AuthorUserName</span>
    
    @Html.DisplayFor(x => x.CreatedOn)
</div>

<div>
    <h2>@Model.Title</h2>
    <div class="glyphicon glyphicon-eye-open"></div><small>@Model.ViewCount</small>
    <div class="glyphicon glyphicon-comment"></div><small>@Model.Comments.Count</small>
    <p>@Html.Raw(Model.SanitizedContent)</p>
</div>

<input id="masterpieceId" type="hidden" value="@Model.Id"/>

@Html.Partial("_AddCommentPartial", new Mastilo.Web.ViewModels.CommentViewModels.CommentViewModel())

@section scripts {
    <script>
        $(function () {
            var masterpieceId = $("#masterpieceId").val();
            $("#masterpieceIdForAjax").val(masterpieceId);

             $.get("/Comments/AllById/" + masterpieceId, null, function (comments) {
                 $("#commentsSection").html(comments);
             });

             $("body").on("click", "button[data-action='up']",  function () {
                 var id = $(this).attr("data-id");
                 updateVote(id);
             });

             function updateVote(id, vote) {
                 $.post("/Comments/VoteComment", { commentId: id }, function (votesCountUpdated) {
                     $("[data-id-count='" + id + "']").html(votesCountUpdated);
                 });
             }
        });
    </script>
}